body {
  font-size: 18px; /* Aumenta el tamaño general de la fuente */
}

.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f9fa;
}

.registro-card {
  width: 400px;
  max-width: 600px;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

.form-label {
  font-size: 15px;
}

.input-group-text {
  background: #e9ecef;
  border: none;
  color: hsl(210, 9%, 31%);
  font-size: 20px;
}

.form-control,
.form-select {
  background: #ffffff;
  border: 1px solid #ced4da;
  color: #495057;
  font-size: 15px;
  padding: 10px;
}

.form-control::placeholder {
  color: #6c757d;
  font-size: 15px;
}

.btn {
  font-size: 15px;
  padding: 12px;
}

.error {
  color: #dc3545;
  font-size: 13px;
}
p {
  font-size: 14px;
}
