<div class="registro-container">
  <div class="registro-card">
    <h2 class="text-center">Registro</h2>
    <form>
      <div class="form-group">
        <label for="nombre" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input
            id="nombre"
            formControlName="nombre"
            type="text"
            class="form-control"
            placeholder="Ingresa tu nombre"
          />
        </div>
        <!-- <small
          *ngIf="
            registroForm.get('nombre')?.invalid &&
            registroForm.get('nombre')?.touched
          "
          class="error"
        >
          <span *ngIf="registroForm.get('nombre')?.errors?.['required']">
            El nombre es obligatorio.
          </span>
          <span *ngIf="registroForm.get('nombre')?.errors?.['minlength']">
            Mínimo 3 caracteres.
          </span>
        </small> -->
      </div>

      <div class="form-group">
        <label for="correo" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope"></i></span>
          <input
            id="correo"
            formControlName="correo"
            type="email"
            class="form-control"
            placeholder="Ingresa tu correo"
          />
        </div>
        <!-- <small
          *ngIf="
            registroForm.get('correo')?.invalid &&
            registroForm.get('correo')?.touched
          "
          class="error"
        >
          <span *ngIf="registroForm.get('correo')?.errors?.['required']">
            El correo es obligatorio.
          </span>
          <span *ngIf="registroForm.get('correo')?.errors?.['email']">
            Formato de correo inválido.
          </span>
        </small> -->
      </div>

      <div class="form-group">
        <label for="password" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Ingresa tu contraseña"
          />
        </div>
        <!-- <small
          *ngIf="
            registroForm.get('password')?.invalid &&
            registroForm.get('password')?.touched
          "
          class="error"
        >
          <span *ngIf="registroForm.get('password')?.errors?.['required']">
            La contraseña es obligatoria.
          </span>
          <span *ngIf="registroForm.get('password')?.errors?.['minlength']">
            Mínimo 6 caracteres.
          </span>
        </small> -->
      </div>

      <!-- <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="registroForm.invalid">
        Registrar
      </button> -->
      <button type="submit" class="btn btn-primary w-100 mt-3">
        Registrar
      </button>
      <div class="mt-3 text-center">
        <p class="small">
          ¿Tienes una cuenta?
          <a routerLink="/" class="text-primary">Inicia sesión aquí</a>
        </p>
      </div>
    </form>

    <!-- <div *ngIf="errorMessage" class="text-danger text-center mt-2">
      {{ errorMessage }}
    </div> -->
  </div>
</div>
