<!-- En habi.component.html -->
<p>habi works!</p>

<div *ngIf="habitaciones.length > 0">
  <div *ngFor="let habitacion of habitaciones">
    <p>Imagenes de la habitación ID: {{ habitacion.habitacionId }}</p>
    <div *ngFor="let imagen of habitacion.imagenes">
      <img [src]="imagen.img_url" [alt]="'Imagen ' + imagen.imagen_id" />
    </div>
  </div>
</div>

<!-- En caso de no haber imágenes -->
<div *ngIf="habitaciones.length === 0">
  <p>No hay imágenes disponibles para las habitaciones solicitadas.</p>
</div>
