<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body">
          <h4 class="text-center">Comentarios y Calificaciones</h4>

          <div *ngFor="let comentario of comentarios" class="mt-4">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ comentario.usuario }}</h5>
                <p class="card-text">{{ comentario.comentario }}</p>
                <p class="card-text">
                  <small class="text-muted"
                    >Calificación:
                    <span class="star-rating">
                      <i
                        *ngFor="let star of [1, 2, 3, 4, 5]"
                        class="fa fa-star"
                        [class.filled]="star <= comentario.calificacion"
                      ></i>
                    </span>
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >Fecha: {{ comentario.fecha | date : "dd/MM/yyyy" }}</small
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="calificacion">Calificación:</label>
            <div class="star-rating">
              <span
                *ngFor="let star of [1, 2, 3, 4, 5]"
                [class.filled]="star <= calificacion"
                (click)="calificacion = star"
                class="fa fa-star"
              ></span>
            </div>
          </div>

          <div class="form-group form-floating mt-4">
            <textarea
              [(ngModel)]="comentario"
              id="comentario"
              class="form-control"
              rows="4"
            ></textarea>
            <label for="comentario">Agregar un comentario:</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
