<app-navbar></app-navbar>
<header class="inicio-img">
  <section class="textos-header">
    <div class="col-sm-5 p-5 align-items-center align-self-center text-center">
      <h2 class="fw-bold text-white">
        Bienvenido a AAJ Hoteles, donde el lujo y la comodidad se encuentran
        para brindarte una experiencia inolvidable. ¡Tu descanso comienza aquí!
      </h2>
      <a class="btn btn-primary fw-bold" href="#lugaresTuristicos"
        >Ver lugares turisticos</a
      >
    </div>
  </section>
</header>

<app-filtro-hoteles></app-filtro-hoteles>
