<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card p-4 shadow-lg rounded-4 border-0">
        <h4 class="text-center mb-4 fw-bold text-primary">
          <i class="fa-solid fa-hotel"></i> Encuentra tu Hotel Ideal
        </h4>
        <div class="row g-3">
          <!-- Destino -->
          <div class="col-md-3">
            <div class="form-floating">
              <select class="form-select" [(ngModel)]="filtros.destino">
                <option *ngFor="let destino of destinos" [value]="destino.id">
                  {{ destino.nombre }}
                </option>
              </select>
              <label>
                <i class="fa-solid fa-location-dot text-primary"></i> Destino
              </label>
            </div>
          </div>

          <!-- Fecha de inicio -->
          <div class="col-md-2">
            <div class="form-floating">
              <input
                id="fechaInicio"
                class="form-control"
                type="date"
                [min]="fechaMinima"
                [(ngModel)]="filtros.fechaInicio"
              />
              <label>
                <i class="fa-solid fa-calendar-day text-primary"></i> Inicio
              </label>
            </div>
          </div>

          <!-- Fecha de fin -->
          <div class="col-md-2">
            <div class="form-floating">
              <input
                id="fechaFin"
                class="form-control"
                type="date"
                [min]="filtros.fechaInicio"
                [(ngModel)]="filtros.fechaFin"
              />
              <label>
                <i class="fa-solid fa-calendar-check text-primary"></i> Fin
              </label>
            </div>
          </div>
          <!-- Contenedor del input principal -->

          <div class="col-md-3 position-relative">
            <div class="form-floating">
              <input
                class="form-control"
                type="text"
                readonly
                [value]="
                  totalPersonas + ' personas, ' + filtros.numCamas + ' cama(s)'
                "
                (click)="mostrarOpciones()"
              />
              <label
                ><i class="fa-solid fa-user text-primary"></i> Huéspedes</label
              >
            </div>

            <!-- Contenedor flotante para los inputs -->
            <div
              *ngIf="mostrarInputs"
              class="grupo-huespedes position-absolute bg-white shadow p-3 rounded"
              style="top: 50px; left: 0; z-index: 1000; width: 250px"
            >
              <h6>Habitación 1</h6>

              <!-- Adultos -->
              <div
                class="d-flex justify-content-between align-items-center mt-2"
              >
                <span>Adultos</span>
                <div>
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    (click)="cambiarCantidad('adultos', 'restar')"
                  >
                    -
                  </button>
                  <span class="mx-2">{{ filtros.huespedesAdultos }}</span>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="cambiarCantidad('adultos', 'sumar')"
                  >
                    +
                  </button>
                </div>
              </div>

              <!-- Niños -->
              <div
                class="d-flex justify-content-between align-items-center mt-2"
              >
                <span>Niños</span>
                <div>
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    (click)="cambiarCantidad('ninos', 'restar')"
                  >
                    -
                  </button>
                  <span class="mx-2">{{ filtros.huespedesNinos }}</span>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="cambiarCantidad('ninos', 'sumar')"
                  >
                    +
                  </button>
                </div>
              </div>

              <!-- Camas -->
              <div
                class="d-flex justify-content-between align-items-center mt-2"
              >
                <span>Camas</span>
                <div>
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    (click)="cambiarCantidad('camas', 'restar')"
                  >
                    -
                  </button>
                  <span class="mx-2">{{ filtros.numCamas }}</span>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="cambiarCantidad('camas', 'sumar')"
                  >
                    +
                  </button>
                </div>
              </div>

              <!-- Botón para cerrar -->
              <div class="text-end mt-3">
                <button
                  class="btn btn-primary btn-sm"
                  (click)="mostrarInputs = false"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>

          <!-- Botón de búsqueda -->
          <div class="col-md-2 d-flex align-items-center">
            <button
              (click)="buscarHoteles()"
              class="btn btn-primary btn-lg w-100 shadow-sm"
            >
              <i class="fa-solid fa-magnifying-glass"></i> Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
