<app-navbar></app-navbar>

<div class="container mt-4">
  <h3 class="text-center text-primary fw-bold">Confirmar Reserva</h3>
  <div class="row">
    <div class="col-md-8">
      <h4>Tus datos</h4>
      <form #reservaForm="ngForm" (ngSubmit)="confirmarReserva()" novalidate>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" id="nombre" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" readonly />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="cliente.correo" name="email" readonly />
        </div>

        <!-- Componente de OpePay -->
        <app-openpay [totalReserva]="reserva.habitacion?.precio_calculado" (pagoExitoso)="actualizarEstadoPago($event)">
        </app-openpay>

        <button type="submit" class="btn btn-success" [disabled]="!pagoRealizado">
          Confirmar Reserva
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <div class="card p-4 ticket-card shadow-lg rounded-4 p-5">
        <div class="text-center mb-3">
          <img src="/assets/logo.png" alt="logo" height="50" width="200" class="mb-3" />
          <h4 class="text-primary fw-bold">Detalles de la Reserva</h4>
          <div class="ticket-line my-3"></div>
        </div>

        <div class="ticket-info text-monospace">
          <p><strong>HOTEL:</strong> {{ reserva.destino }}</p>
          <p>
            <strong>NUM HABITACIÓN:</strong>
            {{ reserva?.habitacion?.numero_habitacion }}
          </p>
          <p>
            <strong>TIPO HABITACIÓN:</strong>
            {{ reserva?.habitacion?.tipo_habitacion }}
          </p>
          <p>
            <strong>FECHA INICIO:</strong> {{ reserva?.filtros?.fechaInicio }}
          </p>
          <p><strong>FECHA FIN:</strong> {{ reserva?.filtros?.fechaFin }}</p>
          <p>
            <strong>CAPACIDAD:</strong>
            {{ reserva?.habitacion?.capacidad }} personas
          </p>
          <p>
            <strong>HUÉSPEDES TOTALES:</strong>
            {{ (reserva?.filtros?.huespedesNinos || 0) + (reserva?.filtros?.huespedesAdultos || 0) }} personas
          </p>
          
          <p class="text-muted">{{ reserva?.habitacion?.extras }}</p>
          <p>
            <strong>PRECIO BASE POR NOCHE:</strong> MXN ${{
            reserva?.habitacion?.precio_base
            }}
          </p>


          <p>
            <strong>PRECIO cON COSTOS EXTRA POR NOCHE:</strong> MXN ${{
            reserva?.habitacion?.precio_base
            }}
          </p>

          <div *ngIf="
              reserva?.habitacion?.adultosExtras &&
              reserva?.habitacion?.adultosExtras > 0
            ">
            <p>
              <strong>ADULTOS EXTRA:</strong>
              {{ reserva?.habitacion?.adultosExtras }}
            </p>
            <p>
              <strong>COSTO EXTRA (30% POR ADULTO):</strong> MXN ${{
              reserva?.habitacion?.costoFinalAdultos
              }}
            </p>
          </div>

          <div *ngIf="
              reserva?.habitacion?.ninosExtras &&
              reserva?.habitacion?.ninosExtras > 0
            ">
            <p>
              <strong>NIÑOS EXTRA:</strong>
              {{ reserva?.habitacion?.ninosExtras }}
            </p>
            <p>
              <strong>COSTO EXTRA (15% POR NIÑO):</strong> MXN ${{
              reserva?.habitacion?.costoFinalNinos
              }}
            </p>
          </div>

          <div class="ticket-line my-3"></div>
          <h5 class="text-success fw-bold text-center">
            <i class="fa-solid fa-money-bill-wave"></i> PRECIO TOTAL: MXN ${{
            reserva?.habitacion?.precio_calculado
            }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>