<app-navbar></app-navbar>

<main class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="login-container">
    <div class="card login-card shadow-sm p-4">
      <div class="text-center">
        <img
          class="brand-logo mb-3"
          src="assets/logo.png"
          alt="logo"
          width="200"
        />
        <h4 class="text-dark">Bienvenido</h4>
        <p class="text-muted">Ingresa tus credenciales para continuar</p>
      </div>
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="correo" class="form-label">Correo</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-regular fa-envelope"></i
            ></span>
            <input
              type="email"
              id="correo"
              class="form-control"
              [(ngModel)]="correo"
              name="correo"
              required
              placeholder="Ingresa tu correo"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-solid fa-lock"></i
            ></span>
            <input
              type="password"
              id="password"
              class="form-control"
              [(ngModel)]="password"
              name="password"
              required
              placeholder="Ingresa tu contraseña"
              maxlength="12"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        <p *ngIf="errorMessage" class="text-danger mt-2 text-center">
          {{ errorMessage }}
        </p>
      </form>
      <div class="mt-3 text-center">
        <p class="small">
          ¿No tienes una cuenta?
          <a routerLink="/register" class="text-primary">Regístrate aquí</a>
        </p>
        <p class="small"></p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
