.bg-light {
  background: #f8f9fa;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
  max-width: 600px;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.brand-logo {
  border-radius: 10px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.form-label {
  font-size: 15px;
}

.input-group-text {
  background: #e9ecef;
  border: none;
  color: #495057;
}

.form-control {
  background: #ffffff;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 10px;
}

.form-control::placeholder {
  color: #6c757d;
  font-size: 16px;
}

.btn {
  font-size: 15px;
  padding: 12px;
}

main {
  position: relative;
  min-height: 100vh;
  background: #194776;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.login-container {
  position: relative;
  z-index: 1;
}

/* Aplica el fondo solo en la mitad superior */
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Solo la mitad superior */
  background: #194776;

  background-size: cover;
  z-index: 0;
}
