<app-navbar></app-navbar>
<div class="container m-3">
  <div *ngIf="hoteles.length > 0; else sinHoteles">
    <div class="row">
      <div class="col-md-3" *ngFor="let hotel of hoteles">
        <!-- Columna para el hotel -->
        <div class="card shadow-sm lugar-card w-100">
          <img
            *ngIf="hotel.imagenes"
            [src]="hotel.imagenes"
            alt="Imagen del hotel"
            class="card-img-top"
            style="height: 150px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">
              {{ hotel.lugar_nombre }} <br />
              {{ hotel.lugar_ubicacion }}
            </h5>
            <h5 class="card-title">{{ hotel.nombre }}</h5>
            <p class="card-text">{{ hotel.descripcion }}</p>
            <p><strong>Dirección:</strong> {{ hotel.direccion }}</p>
            <p><strong>Teléfono:</strong> {{ hotel.telefono }}</p>
            <p><strong>Capacidad:</strong> {{ hotel.capacidad }} personas</p>
          </div>
       
          
        </div>
      </div>

      <div class="col-md-9" *ngFor="let hotel of hoteles">
        <!-- Columna para la tabla de habitaciones -->
        <app-habitaciones-admin [hotelId]="hotel.id"></app-habitaciones-admin>
      </div>
    </div>
  </div>

  <ng-template #sinHoteles>
    <p class="text-center text-muted">No hay hoteles disponibles.</p>
  </ng-template>
</div>

<app-footer></app-footer>
