<app-navbar> </app-navbar>
<div class="container m-3">
  <div *ngIf="hoteles.length > 0; else sinHoteles">
    <div *ngIf="hoteles.length > 0; else sinHoteles">
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let hotel of hoteles">
          <div class="card shadow-sm lugar-card w-100">
            <!-- Imagen del hotel -->
            <img
              *ngIf="hotel.imagenes"
              [src]="hotel.imagenes"
              alt="Imagen del hotel"
              class="card-img-top"
              style="height: 300px; object-fit: cover"
            />

            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ hotel.nombre }}</h5>
              <p class="card-text">{{ hotel.descripcion }}</p>
              <p><strong>Dirección:</strong> {{ hotel.direccion }}</p>
              <p><strong>Teléfono:</strong> {{ hotel.telefono }}</p>
            </div>
          </div>
        </div>

        <!-- Columna para la tabla de habitaciones -->
        <div class="col-md-6 mb-3">habitaciones</div>
      </div>
    </div>

    <!-- Mensaje si no hay hoteles -->
    <ng-template #sinHoteles>
      <p class="text-center text-muted">No hay hoteles disponibles.</p>
    </ng-template>
  </div>

  <!-- Mensaje si no hay hoteles -->
  <ng-template #sinHoteles>
    <p class="text-center text-muted">No hay hoteles disponibles.</p>
  </ng-template>
</div>
<app-footer> </app-footer>
