<form id="form-pago">
  <input
    type="text"
    placeholder="Número de tarjeta"
    [(ngModel)]="tarjeta.card_number"
  />
  <input
    type="text"
    placeholder="Nombre en tarjeta"
    [(ngModel)]="tarjeta.holder_name"
  />
  <input
    type="text"
    placeholder="Mes Exp."
    [(ngModel)]="tarjeta.expiration_month"
  />
  <input
    type="text"
    placeholder="Año Exp."
    [(ngModel)]="tarjeta.expiration_year"
  />
  <input type="text" placeholder="CVV" [(ngModel)]="tarjeta.cvv2" />
  <button type="button" (click)="pagar()">Pagar</button>
</form>
<p>{{ mensaje }}</p>
