<div *ngIf="hoteles.length === 0">No hay hoteles disponibles.</div>
<div *ngFor="let hotel of hoteles">
  <h3>{{ hotel.nombre }}</h3>
  <p>{{ hotel.descripcion }}</p>
  <p><strong>Dirección:</strong> {{ hotel.direccion }}</p>
  <p><strong>Teléfono:</strong> {{ hotel.telefono }}</p>
  <p><strong>Imagen:</strong></p>
  <img [src]="hotel.imagenes" alt="{{ hotel.nombre }}" width="300">
  <p><strong>Estrellas:</strong> {{ hotel.estrellas }}</p>
  <p>Ubicación: {{ hotel.lugar }}</p>
  <button (click)="verHabitaciones(hotel.id)">Ver Habitaciones</button>
</div>
