<div class="container mt-5">
  <div class="card shadow-sm border-0 rounded-4 p-4">
    <h4 class="mb-4"><i class="fa-solid fa-comments"></i> Deja tu comentario</h4>



    <!-- Mostrar comentarios -->
    <div class="mt-4">
      <h5>Comentarios:</h5>
      <div *ngFor="let comentario of comentarios | slice:0:comentariosMostrados" class="border p-3 mb-2 rounded-3">
        <h6 class="ml-3">{{ comentario.nombre }}</h6>

        <div class="d-flex align-items-center">
          <!-- Mostrar estrellas en lugar de texto -->
          <div *ngFor="let star of estrellas; let i = index">
            <i class="fa-star" [ngClass]="i < comentario.calificacion ? 'fa-solid text-warning' : 'fa-regular'"></i>
          </div>
        </div>
        <p>{{ comentario.texto }}</p>
        <!-- Mostrar la fecha -->
        <small class="text-muted">{{ comentario.fecha | date:'short' }}</small>

        <!-- Mostrar la foto, si existe -->
        <div *ngIf="comentario.foto">
          <img [src]="comentario.foto" alt="Imagen del comentario" class="mt-2 img-fluid" style="max-height: 200px; object-fit: cover;">
        </div>
      </div>

      <!-- Botón para ver más comentarios -->
      <button *ngIf="comentarios.length > comentariosMostrados" class="btn btn-link" (click)="verMas()">
        Ver más
      </button>
    </div>
    <!-- Formulario para agregar un comentario -->
    <div class="mb-3">
      <label for="nombre" class="form-label"><i class="fa-solid fa-user"></i> Nombre</label>
      <input type="text" class="form-control rounded-3" id="nombre" [(ngModel)]="nuevoComentario.nombre" placeholder="Escribe tu nombre" required />
    </div>

    <div class="mb-3">
      <label for="comentario" class="form-label"><i class="fa-solid fa-pen"></i> Comentario</label>
      <textarea class="form-control rounded-3" id="comentario" [(ngModel)]="nuevoComentario.texto" rows="3" placeholder="Escribe tu comentario" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label"><i class="fa-solid fa-star"></i> Calificación</label>
      <div>
        <span *ngFor="let star of estrellas; let i = index">
          <i class="fa-star" [ngClass]="i < nuevoComentario.calificacion ? 'fa-solid text-warning' : 'fa-regular'"
            (click)="seleccionarCalificacion(i+1)"></i>
        </span>
      </div>
    </div>
   <!-- Subir fotos -->
   <div class="mb-3">
    <label for="foto" class="form-label"><i class="fa-solid fa-image"></i> Subir foto</label>
    <input type="file" class="form-control rounded-3" id="foto" (change)="onFileChange($event)" />
  </div>


 

    <button class="btn btn-primary w-100" (click)="agregarComentario()">
      <i class="fa-solid fa-paper-plane"></i> Enviar comentario
    </button>
    <a
    [routerLink]="['/comentarios', hotelId]"
    class="ms-2 text-primary fw-bold "
    style="cursor: pointer"
  >
    Ver reseñas
  </a>
  </div>
</div>
