<app-navbar></app-navbar>
<app-filtro-hoteles [filtros]="filtros"></app-filtro-hoteles>

<div class="container">
  <div class="row">
    <ng-container *ngIf="isLoading; else mostrarHabitaciones">
      <!-- Aquí van los placeholders de carga -->
    </ng-container>

    <ng-template #mostrarHabitaciones>
      <div *ngIf="mensajeBusqueda" class="alert alert-warning text-center">
        <i class="fa-solid fa-circle-info"></i> {{ mensajeBusqueda }}
      </div>

      <!-- Sección de comentarios -->
      <div class="col-md-3 d-none d-md-block col-12">
        <app-list-comentarios></app-list-comentarios>
      </div>

      <!-- Lista de habitaciones -->
      <div class="col-12 col-md-6">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-md-auto">
            <h5 class="text-secondary m-0">Habitaciones disponibles</h5>
            <h5 class="fw-bold text-primary m-0 mt-1">
              <i class="fa-solid fa-star"></i> Mejores opciones
            </h5>
          </div>

          <div class="col-12 col-md-auto ms-auto d-flex gap-2 mt-2 mt-md-0">
            <div class="form-floating">
              <input type="number" id="precioMin" class="form-control" [(ngModel)]="filtroPrecioMin" (input)="filtrarPorPrecio()" />
              <label for="precioMin">Precio mínimo:</label>
            </div>
            <div class="form-floating">
              <input type="number" id="precioMax" class="form-control" [(ngModel)]="filtroPrecioMax" (input)="filtrarPorPrecio()" />
              <label for="precioMax">Precio máximo:</label>
            </div>
          </div>
        </div>

        <div class="card shadow-sm mb-3" *ngFor="let habitacion of habitaciones.mejorOpcion">
          <div class="card-body d-flex align-items-center">
            <img
              src="assets/habitacion.jpg"
              alt="Imagen de la habitación"
              class="room-image me-3 rounded-3 shadow-sm"
              width="100%"
              height="auto"
              style="max-width: 250px"
            />
            <div class="flex-grow-1">
              <h5 class="card-title text-secondary">
                <i class="fa-solid fa-bed"></i> {{ habitacion.tipo_habitacion }}
              </h5>
              <p class="card-text mb-1">
                <strong><i class="fa-solid fa-hashtag"></i> No. Habitación:</strong> {{ habitacion.numero_habitacion }}
              </p>
              <p class="card-text mb-1">
                <strong><i class="fa-solid fa-user-group"></i> Capacidad:</strong> {{ habitacion.capacidad }} persona(s)
              </p>
              <p class="card-text fw-bold">
                <strong><i class="fa-solid fa-bed"></i> Número de camas:</strong> {{ habitacion.camas }}
              </p>

              <p class="card-text fw-bold text-success">
                <strong><i class="fa-solid fa-dollar-sign"></i> Precio por noche:</strong>
                MXN ${{ habitacion.precio_base }}
              </p>

              <p class="card-text text-warning">
                {{ habitacion.mensaje }}
              </p>

              <p class="card-text text-warning">
                {{ habitacion.extras }}
              </p>

              
              <p class="card-text fw-bold text-success">
                <strong><i class="fa-solid fa-dollar-sign"></i> Precio Total:</strong>
                MXN ${{ habitacion.precio_calculado }}
              </p>
              

              <button
                type="button"
                class="btn btn-primary btn-lg mt-2 w-100 rounded-pill shadow-sm"
                data-bs-toggle="modal"
                data-bs-target="#reserva"
                (click)="seleccionarHabitacion(habitacion)"
              >
                <i class="fa-solid fa-calendar-check"></i> Reservar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Comentarios -->
      <div class="col-12 col-md-3">
        <app-comentarios></app-comentarios>
      </div>
    </ng-template>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-mf-8">
      <div class="card p-4 shadow-lg border-0 rounded-4">
        <h4 class="fw-bold text-primary text-center mb-3">
          <i class="fa-solid fa-bed"></i> Otras Habitaciones Disponibles
        </h4>
        <div class="position-relative">
          <div class="d-flex overflow-auto gap-3 p-2" id="scrollContainer">
            <div class="col-md-4 mb-3 d-flex flex-shrink-0" *ngFor="let habitacion of habitaciones.otrasHabitaciones">
              <div class="card lugar-card shadow-sm rounded-4" style="width: 25rem">
                <img src="assets/habitacion2.jpg" alt="Habitación" height="200" class="w-100 rounded-top" />
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title fw-bold text-secondary">
                    {{ habitacion.tipo_habitacion }}
                  </h5>
                  <p class="card-text mb-1">
                    <strong>No. Habitación:</strong> {{ habitacion.numero_habitacion }}
                  </p>
                  <p class="card-text mb-1">
                    <strong>Capacidad:</strong> {{ habitacion.capacidad }} persona(s)
                  </p>
                  <p class="card-text fw-bold">
                    <strong>Número de camas:</strong> {{ habitacion.camas }}
                  </p>
                  <p class="card-text fw-bold text-success">
                    <strong><i class="fa-solid fa-dollar-sign"></i> Precio por noche:</strong>
                    MXN ${{ habitacion.precio_base }}
                  </p>
                  
                  <p class="card-text text-warning">
                    <strong>Mensaje:</strong> {{ habitacion.mensaje }}
                  </p>

                  <p class="card-text fw-bold text-success">
                    <strong>Precio calculado:</strong> MXN {{ habitacion.precio_calculado }}
                  </p>

                  <div class="mt-auto">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg w-100 shadow-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#reserva"
                      (click)="seleccionarHabitacion(habitacion)"
                    >
                      <i class="fa-solid fa-calendar-check"></i> Reservar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary btn-lg p-3 shadow position-absolute start-0 top-50 translate-middle-y" (click)="scrollLeft()">
            <i class="fa-solid fa-angles-left"></i>
          </button>

          <button class="btn btn-primary btn-lg p-3 shadow position-absolute end-0 top-50 translate-middle-y" (click)="scrollRight()">
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-reserva [habitacion]="habitacionSeleccionada" [filtros]="filtros"></app-modal-reserva>
<app-footer></app-footer>
