<p>lugares-home works!</p>

  <!-- Filtro por categoría de lugar turístico -->
  <h2>Lugares Turísticos</h2>
  <div class="col-md-4">
    <div class="card p-3 mb-4">



      <div class="row">
        <div class="col-md-12">
          <label for="categoria">
            <i class="fas fa-tags"></i> Filtrar por categoría
          </label>
          <select class="form-control" [(ngModel)]="filtros.categoria" (change)="filtrarPorCategoria()">
            <option [value]="null">Todos</option> <!-- Nueva opción -->
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}
            </option>
          </select>

        </div>
      </div>
    </div>
  </div>

<!-- Lugares filtrados por categoría -->
<div class="col-md-12" id="lugaresTuristicos">
  <br />
  <div class="position-relative">
    <!-- Contenedor deslizable -->
    <div class="d-flex overflow-auto " id="scrollContainer">
      <div class="col-md-3 mb-3 d-flex flex-shrink-0" *ngFor="let lugar of lugaresFiltrados">
        <div class="card w-80 lugar-card shadow-sm" style="width: 18rem;">
          <img [src]="lugar.imagen" alt="lugar"  height="200" />
          <div class="card-body d-flex flex-column ">
            <h5 class="card-title">{{ lugar.nombre }}</h5>
            <p><i class="bi bi-geo-alt"></i> {{ lugar.descripcion }}</p>
            <p>{{ lugar.ubicacion }}</p>
            <div class="mt-auto">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones de desplazamiento -->
    <button class="btn bg-dark text-white btn-lg p-3 shadow position-absolute start-0 top-50 translate-middle-y"
    (click)="scrollLeft()"><</button>

<button class="btn bg-dark text-white btn-lg p-3 shadow position-absolute end-0 top-50 translate-middle-y"
    (click)="scrollRight()">></button>
</div>
</div>
